<!DOCTYPE html>
<html>
<title>Home Page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<style>
body, html {
  height: 100%;
  font-family: "Inconsolata", sans-serif;
}

.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url("{{ url_for('static', filename='sportsClub.jpg') }}");
  min-height: 75%;
}

.menu {
  display: none;
}
</style>

<body>

<!-- Links (sit on top) -->
<div class="w3-top">
  <div class="w3-row w3-padding w3-black">
    <div class="w3-col s3">
      <a href="#" class="w3-button w3-block w3-black">HOME</a>
    </div>
    <div class="w3-col s3">
      <a href="#about" class="w3-button w3-block w3-black">ABOUT</a>
    </div>
    <div class="w3-col s3">
        <a href="/login" class="w3-button w3-block w3-black">LOGIN</a>
    </div>
    <div class="w3-col s3">
      <a href="/register" class="w3-button w3-block w3-black">REGISTER</a>
    </div>
  </div>
</div>

<!-- Header with image -->
<header class="bgimg w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-bottomleft w3-center w3-padding-large w3-hide-small">
    <span class="w3-tag">Open from 9am to 12pm</span>
  </div>
  <div class="w3-display-middle w3-center">
    <span class="w3-sand" style="font-size:90px">Abu Dhabi<br>Sports Club</span>
  </div>
  <div class="w3-display-bottomright w3-center w3-padding-large">
    <span class="w3-tag">Saadiyat Island, Abu Dhabi</span>
  </div>
</header>

<!-- Add a background color and large text to the whole page -->
<div class="w3-sand w3-grayscale w3-large">
<br><br>

<!-- About Container -->
<div class="w3-container" id="about">
  <div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-54"><span class="w3-tag w3-wide">ABOUT OUR CLUB</span></h5>
    <p>Abu Dhabi Sporting Club is home to 23 sporting facilities and stadiums. We offer a wide array of both team and individual sports, including football, tennis, squash, and swimming. </p>
    <p>In addition to our facilities, we have qualified coaches who are ready to assist you in any sport you'd like to learn regardless of your level!</p>

    <img src="{{ url_for('static', filename='team.jpg') }}" style="width:100%;max-width:1000px" class="w3-margin-top">
    <p><strong>Opening hours:</strong> everyday from 9am to 12pm.</p>
    <p><strong>Address:</strong> Saadiyat Island, Abu Dhabi</p>
  </div>
</div>

<!-- Contact/Area Container -->
<div class="w3-container" id="where" style="padding-bottom:32px;">
  <div class="w3-content" style="max-width:700px">
    <p><strong>For inquiries:</strong> Send us a message and we'll get back to you!</p>
    <form action="/action_page.php" target="_blank">
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Name" required name="Name"></p>
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Email" required name="Email"></p>
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Message" required name="Message"></p>
      <p><text class="w3-button w3-white" type="submit">SEND MESSAGE</text</p>
    </form>
  </div>
</div>

<!-- End page content -->
</div>

</body>
</html>